
                <!DOCTYPE html>
                <html>
                <head>
                    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
                    <title>Sauktinis</title>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="W3.CSS%20Template_files/w3.css">
                    <link rel="stylesheet" href="W3.CSS%20Template_files/css.css">
                    <link rel="stylesheet" href="W3.CSS%20Template_files/font-awesome.min.css">
                    <style>
                    body, h1, h2, h3, h4, h5, h6 { font-family: "Montserrat", sans-serif; }
                    .w3-row-padding img { margin-bottom: 12px; }
                    .w3-sidebar { width: 120px; background: #222; }
                    #main { margin-left: 120px; }
                    @media only screen and (max-width: 600px) { 
                        #main { margin-left: 0; } 
                    }
                    </style>
                </head>
                <body class="w3-black">
                    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
                    <div class="w3-quarter w3-section">
                        <span class="w3-xlarge">2528</span><br>
                        Privalo pateikti duomenis
                    </div>
                    <div class="w3-quarter w3-section">
                        <span class="w3-xlarge">2011</span><br>
                        Privalo pateikti duomenis iki konkrecios datos
                    </div>
                    <div class="w3-quarter w3-section">
                        <span class="w3-xlarge">1961</span><br>
                        Saukimo proceduros vykdomos
                    </div>
                    <div class="w3-quarter w3-section">
                        <span class="w3-xlarge">52</span><br>
                        Privalo atvykti i kompektavimo skyriu
                    </div>
                    <div class="w3-quarter w3-section">
                        <span class="w3-xlarge">554</span><br>
                        Privalo skubiai susiekti ir atvykti i nurodyta skyriu
                    </div>
                    <div class="w3-quarter w3-section">
                        <span class="w3-xlarge">356</span><br>
                        Privalo atvykti pasitikrinti sveikatos
                    </div>
                    <div class="w3-quarter w3-section">
                        <span class="w3-xlarge">43</span><br>
                        Privalo atvykti papildomai pasitikrinti sveikatos
                    </div>
                    <div class="w3-quarter w3-section">
                        <span class="w3-xlarge">12</span><br>
                        Privalo pateikti medicininius dokumentus po papildomo ištyrimo
                    </div>
                    <div class="w3-quarter w3-section">
                        <span class="w3-xlarge">29</span><br>
                        Privalomoji karo tarnyba atidėta
                    </div>
                    </div>

                    <div>
                        <p> Informacija atnaujinta: 2025-01-19 22:47 </p>
                    </div>
                </body>
                </html>