@import url("https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css");

.simple-bar-chart {
    --line-count: 10;
    --line-color: currentcolor;
    --line-opacity: 0.25;
    --item-gap: 2%;
    --item-default-color: #060606;

    margin-bottom: 2.5rem;


    height: 10rem;
    display: grid;
    grid-auto-flow: column;
    gap: var(--item-gap);
    align-items: end;
    padding-inline: var(--item-gap);
    --padding-block: 2rem;
    /* space for labels */
    padding-block: var(--padding-block);
    position: relative;
    isolation: isolate;
}

.simple-bar-chart::after {
    content: "";
    position: absolute;
    inset: var(--padding-block) 0;
    z-index: -1;
    --line-width: 1px;
    --line-spacing: calc(100% / var(--line-count));
    background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
    box-shadow: 0 var(--line-width) 0 var(--line-color);
    opacity: var(--line-opacity);
}

.simple-bar-chart>.item {
    height: calc(1% * var(--val));
    background-color: var(--clr, var(--item-default-color));
    position: relative;
    animation: item-height 1s ease forwards;
}

@keyframes item-height {
    from {
        height: 0;
    }
}

.simple-bar-chart>.item>* {
    position: absolute;
    text-align: center;
}

.simple-bar-chart>.item>.label {
    inset: 100% 0 auto 0;
}

.simple-bar-chart>.item>.value {
    inset: auto 0 100% 0;
}

.simple-bar-chart .max-label {
    position: absolute;
    top: calc(var(--padding-block) - 1rem);
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
}

.simple-bar-chart .below-label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

/* Demo styles */
body {
    margin: 0;
    color: #1D1E22;
    background-color: #f0f0f0;
    font-family: system-ui, sans-serif;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1D1E22;
        color: #f0f0f0;
    }
}





.charts-css.legend li:nth-child(11n+1)::before {
    background-color: red;
}

.charts-css.legend li:nth-child(11n+2)::before {
    background-color: green;
}

.charts-css.legend li:nth-child(11n+3)::before {
    background-color: blue;
}

.charts-css.legend li:nth-child(11n+4)::before {
    background-color: yellow;
}

.charts-css.legend li:nth-child(11n+5)::before {
    background-color: purple;
}

.charts-css.legend li:nth-child(11n+6)::before {
    background-color: navy;
}

.charts-css.legend li:nth-child(11n+7)::before {
    background-color: steelblue;
}

.charts-css.legend li:nth-child(11n+8)::before {
    background-color: brown;
}

.charts-css.legend li:nth-child(11n+9)::before {
    background-color: grey;
}

.charts-css.legend li:nth-child(11n+10)::before {
    background-color: turquoise;
}

.charts-css.legend li:nth-child(11n+11)::before {
    background-color: white;
}







.charts-css.column.multiple tbody tr td:nth-of-type(11n+1) {
    background-color: red;
}

.charts-css.column.multiple tbody tr td:nth-of-type(11n+2) {
    background-color: green;
}

.charts-css.column.multiple tbody tr td:nth-of-type(11n+3) {
    background-color: blue;
}

.charts-css.column.multiple tbody tr td:nth-of-type(11n+4) {
    background-color: yellow;
}

.charts-css.column.multiple tbody tr td:nth-of-type(11n+5) {
    background-color: purple;
}

.charts-css.column.multiple tbody tr td:nth-of-type(11n+6) {
    background-color: navy;
}

.charts-css.column.multiple tbody tr td:nth-of-type(11n+7) {
    background-color: steelblue;
}

.charts-css.column.multiple tbody tr td:nth-of-type(11n+8) {
    background-color: brown;
}

.charts-css.column.multiple tbody tr td:nth-of-type(11n+9) {
    background-color: grey;
}

.charts-css.column.multiple tbody tr td:nth-of-type(11n+10) {
    background-color: turquoise;
}

.charts-css.column.multiple tbody tr td:nth-of-type(11n+11) {
    background-color: white;
}




.charts-css.legend.legend-rectangle li {
    padding: 0.8rem;
}